@import '../node_modules/font-face-generator/mixin';

$fonts-path: '/fonts';

@include font-face(
  $fonts: (
    'Naste Light' : (
      normal : 'naste-extra-light'
    ),
    'Naste Regular' : (
      normal : 'naste-regular'
    )

  ),
  $types: 'woff' 'woff2'
);



.font-family--regular {
    font-family: 'Naste Regular', Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.font-family--light {
    font-family: 'Naste Light', Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.font-family--bold {
    font-family: 'Naste Regular', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

