<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<!--<div class="header-forgot-pass">
  <h1>Set Password</h1>
</div>

<div class="wrapper-login">
  <mat-card>
    <mat-card-content>
      <form name="form" class="example-form" (ngSubmit)="f.form.valid && setPassword(resPass, repPass)" #f="ngForm" novalidate>

        <p>
          <mat-input-container class="example-full-width">
            <input matInput type="password" placeholder="Password" name="resetPass" [(ngModel)]="resPass" #resetPass="ngModel" required />
            <mat-hint [hidden]="resetPass.valid || resetPass.untouched">
              <div *ngIf="resetPass.errors && resetPass.errors.required">Password is required</div>
              <div *ngIf="resetPass.errors && resetPass.errors.pattern">Password is invalid</div>
            </mat-hint>
          </mat-input-container>
        </p>

        <p>
          <mat-input-container class="example-full-width">
            <input matInput type="password" placeholder="Repeat password" name="repeatPass" [(ngModel)]="repPass" #repeatPass="ngModel" required />
            <mat-hint [hidden]="repeatPass.valid || repeatPass.untouched">
              <div *ngIf="repeatPass.errors && repeatPass.errors.required">Repeat password is required</div>
              <div *ngIf="repeatPass.errors && repeatPass.errors.pattern">Repeat password is invalid</div>
            </mat-hint>
          </mat-input-container>
        </p>

        <p>
          <button type="submit" mat-raised-button>Set password</button>
        </p>

      </form>
    </mat-card-content>
  </mat-card>
</div>-->


<section class="o-content wrapper--login">
<main class="o-content__main">
  <mat-card class="c-login-panel" [ngClass]="{'transition': pageLoaded === true}">
    <mat-card-content>
    <div class="c-login-panel__logo" [ngClass]="{'transition': pageLoaded === true}">
      <img src="{{img}}datalive-logo.png" class="logo" alt="datalive logo">
      </div>

      <form name="form" class="c-login-panel__form example-form" (ngSubmit)="f.form.valid && setPassword(resPass, repPass)" #f="ngForm" novalidate>
      
      <h2>Set Password</h2>
      <p>
          <mat-input-container class="example-full-width">
            <input matInput type="password" placeholder="Password" name="resetPass" [(ngModel)]="resPass" #resetPass="ngModel" required />
            <mat-hint [hidden]="resetPass.valid || resetPass.untouched">
              <div *ngIf="resetPass.errors && resetPass.errors.required">Password is required</div>
              <div *ngIf="resetPass.errors && resetPass.errors.pattern">Password is invalid</div>
            </mat-hint>
          </mat-input-container>
        </p>

        <p>
          <mat-input-container class="example-full-width">
            <input matInput type="password" placeholder="Repeat password" name="repeatPass" [(ngModel)]="repPass" #repeatPass="ngModel" required />
            <mat-hint [hidden]="repeatPass.valid || repeatPass.untouched">
              <div *ngIf="repeatPass.errors && repeatPass.errors.required">Repeat password is required</div>
              <div *ngIf="repeatPass.errors && repeatPass.errors.pattern">Repeat password is invalid</div>
            </mat-hint>
          </mat-input-container>
        </p>


        <p>
          <button type="submit" class="c-btn">Set password</button>
        </p>
        

      </form>
    </mat-card-content>
  </mat-card>

</main>
</section>
