<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<section class="o-content wrapper--login">
<main class="o-content__main">

  <mat-card class="c-login-panel" [ngClass]="{'transition': pageLoaded === true}">
    <mat-card-content>

      <div class="c-login-panel__logo" [ngClass]="{'transition': pageLoaded === true}">
          <img src="{{img}}datalive-logo.png" class="logo" alt="datalive logo">
      </div>
      <h1 class="c-login-panel__title">Forgot Password</h1>
      <form name="form" class="c-login-panel__form" (ngSubmit)="f.form.valid && resetPassword(emailForResetPass)" #f="ngForm" novalidate>
        <p>Please enter your email address below.</p>
        <p>
          <mat-input-container class="c-login-panel__input">
            <input matInput type="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" [(ngModel)]="emailForResetPass" #email="ngModel" required />
            <mat-hint [hidden]="email.valid || email.untouched">
              <div *ngIf="email.errors && email.errors.required">Email is required</div>
              <div *ngIf="email.errors && email.errors.pattern">Email is invalid</div>
            </mat-hint>
          </mat-input-container>
        </p>
        <p>
          <button type="submit" class="c-btn c-login-panel__button" [disabled]="disableSend">Send</button>
        </p>
      </form>
        <div class="c-login-panel__return-to-login"><a href="/login">go back to login</a></div>
    </mat-card-content>
  </mat-card>


</main>
</section>
