ul {
    list-style: square outside;
}

li > {

    ul,
    ol {
        margin-left: 2 * $spacing-unit--base;
        margin-bottom: 0;
    }

}

.unstyled-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

