
$sidebar-bg:                    #fafafa;
$sidebar-right-border:          1px solid $color-ui;

$link-list-text-color:          $color-grey;
$link-list-item-height:         36px;
$link-list-item-left-spacing:   $spacing-unit--base;
$link-list-item-padding:        0 $spacing-unit--small 0 $link-list-item-left-spacing;

$link-list-heading-color:       darken($color-grey, 8);
$link-list-heading-font-size:   $base-font-size + 1;