
// Layout settings
$header-height:             65px;
$lh-sidebar-width:          260px;

$row-wrapper-max-width:     940px;
$row-wrapper-padding:       $spacing-unit--small;

$sidemenu-transition:       transform .4s cubic-bezier(.25,.8,.25,1);

$o-content-scollable-shadow: 0 5px 1px -3px rgba(0, 0, 0, 0.2), 0 4px 5px 1px rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.12);