
// Buttons
$chk-width:         16px;
$chk-height:        $chk-width;
$chk-select-color:  $color-brand;

$chk-bg-color:      #fff;
$chk-border-color:  #ddd;
$chk-border:        1px solid $chk-border-color;