

<section class="wrapper-administration o-content">
  <aside class="admin-navigation o-content__sidebar c-sidebar" [ngClass]="{'o-content__sidebar--hidden': !sidemenuOpen}">
   <div class="d-context-panel__head flex-direction--column">
      <img class="d-context-panel__head-img" src="{{ img }}trips-stops-gray-icon.png" alt="Trips and stops icon">
        <h4 class="d-context-panel__title">Timesheets</h4>
    </div>
    <search-vehicle-timesheet-app (outputVehicleName)="this.searchAutocomplete=$event"
                                      (outputTimesheet)="this.timesheet=$event"
                                      (outputShowPage)="this.showPage=$event"
                                      (outputApiIsLoading)="this.isLoading=$event"
                                      [redirectToTimesheet]="false"
                                      (outputStartDate)="this.startDateTime=$event"
                                      (outputEndDate)="this.endDateTime=$event"
                                      (outputTripDistance) = "this.distanceOverall=$event"
                                      (outputTripDuration) = "this.durationOverall=$event"
                                      (outputDrivingDuration) = "this.drivingDurationOverall=$event"
                                      [namePage]="'timesheet'">
        </search-vehicle-timesheet-app>
        <button (click)="sidemenuOpen = !sidemenuOpen" class="c-title-toolbar__toggle-btn" [ngClass]="{'sidemenu-is-hidden': !sidemenuOpen}">
          <mat-icon class="icon--16 c-title-toolbar__toggle-btn-icon">chevron_left</mat-icon>
        </button>
  </aside>

  <main class="wrapper-admin-content o-content__main">
      <mat-toolbar class="c-title-toolbar">


        <h1 class="c-title-toolbar__heading">
          Timesheet
          <mat-icon class="mat-icon--16">chevron_right</mat-icon>
          <span class="c-title-toolbar__heading__meta">
            {{ searchAutocomplete }}
            <mat-icon class="mat-icon--16">chevron_right</mat-icon>
            {{ startDateTime | date:'dd.MM.yyyy' }} - {{ endDateTime | date:'dd.MM.yyyy' }}
            <mat-icon class="mat-icon--16">date_range</mat-icon>
          </span>

        </h1>
         <button onclick="window.print();" class="c-title-toolbar__print c-btn"><mat-icon class="">print</mat-icon></button>
      </mat-toolbar>

      <div class="c-grid-list__row c-grid-list__row--header time-fields-header" *ngIf="timesheet.length > 0">
            <div class="c-grid-list__cell c-grid-list__cell--width-7">
              <span>Day</span>
            </div>
            <!--<div class="c-grid-list__cell c-grid-list__cell--width-12">
              <span>Driver</span>
            </div>-->
            <div class="c-grid-list__cell c-grid-list__cell--width-7">
              <span>Start Time</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-18">
              <span>Start Location</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-7">
              <span>End Time</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-18">
              <span>End Location</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-7 text--right">
              <span>Duration</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-10 text--right">
              <span>Distance</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-10 text--right">
              <span>Driving</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--check-box print-hidden">
              <span>-</span>
            </div>
      </div>
    <section class="o-scrollable--with-toolbar o-scrollable--with-shadow o-content--has-footer-totals">

      <div class="content-time" [ngClass]="{'is-loading': isLoading}">

        <div *ngIf="timesheet.length === 0 && !isLoading" class="c-message c-message--no-data">
           <mat-icon class="mat-icon--48">sentiment_dissatisfied</mat-icon>
           <h3 class="c-message__header">There is no Timesheet data for those dates</h3>
          <div class="c-message__text">
            <p>Please choose a vehicle and a date to retrieve Timesheet data.</p>
          </div>
        </div>

        <div class="c-grid-list" *ngIf="timesheet.length > 0">
          <div *ngFor="let time of timesheet; let i = index" [attr.data-index]="i"
          class="c-grid-list__row c-grid-list__row--hover"
          [ngClass]="{'c-grid-list__row--even': (i%2)==0 }">
            <div class="c-grid-list__cell c-grid-list__cell--width-7" (click)="selectDayOfWeek(time)">
              <a>{{ time.startDateTime | date: 'EEE' }} {{ time.startDateTime | date:'dd MMM' }} </a>
            </div>
            <!--<div class="c-grid-list__cell c-grid-list__cell--width-12" (click)="selectDayOfWeek(time)">
              <span>{{ time.driveName }}</span>
            </div>-->
            <div class="c-grid-list__cell c-grid-list__cell--width-7" (click)="selectDayOfWeek(time)">
              <span>{{ time.startDateTime | date:'shortTime' }}</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-18" (click)="selectDayOfWeek(time)">
              {{ time.startLocationName }}
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-7" (click)="selectDayOfWeek(time)">
              <span> {{ time.endDateTime | date:'shortTime' }}</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-18" (click)="selectDayOfWeek(time)">
             {{ time.endLocationName }}
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-7 text--right" (click)="selectDayOfWeek(time)">
              <span>{{ time.duration }}</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-10 text--right" (click)="selectDayOfWeek(time)">
              <span *ngIf="units_distance == 'MLS'">{{ time.distance }} miles</span>
              <span *ngIf="units_distance == 'KMS'">{{ time.distance }} km</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--width-10 text--right" (click)="selectDayOfWeek(time)">
              <span>{{ time.durationDriving }}</span>
            </div>
            <div class="c-grid-list__cell c-grid-list__cell--check-box c-grid-list__cell--no-padding link print-hidden">

              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="selectDayOfWeek(time)">
                  <img src="{{img}}trips-stops-gray-icon.png" alt="Trips and Stops icon" class="small-image">
                  <span>View Trips & Stops</span>
                </button>
                 <button mat-menu-item (click)="traceThisTrip(time)">
                  <img src="{{img}}trace-gray-icon.png" alt="Trace icon" class="small-image">
                  <span>View Trace</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>

          <mat-progress-spinner class="c-progress-spinner" mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
      </div>


    </section>
    <!-- Timesheet footer row -->
        <div class="c-grid-list__row c-grid-list__row--footer" *ngIf="timesheet.length > 0">
          <div class="c-grid-list__cell c-grid-list__cell--width-7"></div>
          <div class="c-grid-list__cell c-grid-list__cell--width-7"></div>
          <div class="c-grid-list__cell c-grid-list__cell--width-18" ></div>
          <div class="c-grid-list__cell c-grid-list__cell--width-7" ></div>

          <div class="c-grid-list__cell c-grid-list__cell--width-18 text--right">
            <span> Totals:</span>
          </div>
          <div class="c-grid-list__cell c-grid-list__cell--width-7 text--right">
            <span>{{ durationOverall }}</span>
          </div>
          <div class="c-grid-list__cell c-grid-list__cell--width-10 text--right">
              <span *ngIf="units_distance == 'MLS'">{{ distanceOverall }} miles</span>
              <span *ngIf="units_distance == 'KMS'">{{ distanceOverall }} km</span>
          </div>
          <div class="c-grid-list__cell c-grid-list__cell--width-10 text--right">
            <span>{{ drivingDurationOverall }}</span>
          </div>
          <div class="c-grid-list__cell c-grid-list__cell--check-box link print-hidden c-grid-list__cell--no-padding"></div>
      </div>
  </main>
</section>
